.app__home-wrapper {
  display: flex;
  height: 100vh;
}

.app__home-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .app__home-wrapper {
    flex-direction: column;
  }
}
