.about_card {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}

.about_card_image {
  position: relative;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 20px;

  @media screen and (min-width: 1600px) {
    width: 150px;
  }
}

.about_card_title {
  margin-bottom: var(--dl-space-space-tripleunit);
}

.about_card_description {
  font-size: 0.9rem;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
  color: var(--dl-color-gray-500);
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.1rem;
  }
}

@media (max-width: 991px) {
  .about_card {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .about_card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media (max-width: 479px) {
  .about_card {
    width: 100%;
  }
}
