.skills_exp_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.skills_exp_works {
  @media screen and (min-width: 901px) {
    flex: 1;
  }

  @media screen and (max-width: 900px) {
    flex-basis: 65%;
  }
}

.skills_exp_work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;

  h4 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 5px;
  }
}

.skills_exp_work_item {
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}

.skills_exp_year {
  @media screen and (max-width: 900px) {
    flex-basis: 35%;
  }

  p {
    font-weight: 800;
    text-align: end;
    padding-right: 3rem;

    @media screen and (max-width: 450px) {
      padding-right: 2rem;
    }
    color: var(--secondary-color);
  }
}

.skill_exp_tooltip {
  position: relative;
  max-width: 300px;
  background-color: var(--white-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  color: var(--gray-color);
  text-align: center;
  line-height: 1.5;
  opacity: 1;
  right: 0px;
}
