.home_btns {
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  padding: 30px 0 30px 0;
  align-items: center;

  button {
    min-width: 150px;

    @media screen and (max-width: 450px) {
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }

    @media screen and (min-width: 450px) {
      margin-right: 1.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
  }

  @media screen and (max-width: 767px) {
    width: 80%;
  }

  @media screen and (max-width: 560px) {
    width: 90%;
  }

  @media (max-width: 450px) {
    flex-direction: column;
    width: 100%;

    button {
      width: 100%;
    }
  }
}
