.about {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: var(--dl-size-size-maxcontent);
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.about_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .about_cards {
    align-items: center;
    flex-direction: column;
  }
}
