.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;

  padding: 0rem 2rem;
  @media screen and (max-width: 450px) {
    padding: 0rem;
  }
}

.app__skills-container {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }
}

.app__skills-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;

  @media screen and (max-width: 900px) {
    margin-right: 0rem;
    justify-content: center;
    align-items: center;
  }
}

.app__skills-divider {
  min-width: 5rem;
}
