.home_info {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    width: 500px;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    width: 80%;
  }

  @media screen and (max-width: 560px) {
    width: 90%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.home_info_intro {
  font-size: 0.9rem;
  font-weight: 400;
  color: orange;

  @media screen and (min-width: 1200px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.1rem;
  }
}

.home_info_name {
  font-size: 2rem;

  @media screen and (min-width: 1600px) {
    font-size: 3rem;
  }
}

.home_info_title {
  margin-top: 10px;
  height: 50px;
  overflow: hidden;
}

.home_info_title_wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.home_info_title_item {
  height: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.6rem;
  }
}

.home_info_desc {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .home_info_left_wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
}
