.app__home-info {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 350px;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.app__home-info-info-intro {
  font-size: 30px;
  font-weight: 300;
}

.app__home-info-name {
  font-size: 60px;
}

.app__home-info-title {
  height: 50px;
  overflow: hidden;
}

.app__home-info-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.app__home-info-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .app__home-info-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .app__home-info-desc {
    display: none;
  }
}
