.arrow_down {
  position: absolute;

  font-size: 1.1rem;

  @media screen and (min-width: 1200px) {
    font-size: 1.4rem;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.7rem;
  }
}

.dropdown_link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  margin-right: 0.6rem;
}
